/* Enter your custom styles here */
/* Enter your custom styles here */
:root {
    --primary-color-10: #e0f1ef;
    --primary-color-20: #92d0c5;
    --primary-color-30: #54b597;
    --primary-color-40: #00925D;
    --primary-color-50: #004d29;
    --primary-color-60: #00210b;
    --secondary-color-10: #f0e9fa;
    --secondary-color-20: #c7b2ed;
    --secondary-color-30: #9a83e3;
    --secondary-color-40: #5d41d4;
    --secondary-color-50: #2e2576;
    --secondary-color-60: #0e1234;
    --accent-color-10: #fff8e5;
    --accent-color-20: #ffe1a6;
    --accent-color-30: #ffbf72;
    --accent-color-40: #FF942E;
    --accent-color-50: #8a4316;
    --accent-color-60: #3f1206;
    --neutral-color-10: #EAEAEA;
    --neutral-color-20: #ADADAD;
    --neutral-color-30: #747474;
    --neutral-color-40: #333333;
    --neutral-color-50: #1A1A1A;
    --danger-color-10: #fce7e0;
    --danger-color-20: #f5a992;
    --danger-color-30: #ef6454;
    --danger-color-40: #e80b00;
    --danger-color-50: #7b0300;
    --danger-color-60: #350000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px !important;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff !important;
    background-color: var(--primary-color-40);
    padding: 12px 24px;
}

.navbrand {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-link {
    display: block;
    padding: 12px;
    color: #ffffff !important;
    text-shadow: none !important
}

.nav-link:hover {
    color: var(--primary-color-40) !important;
    text-decoration: none !important;
    background-color: #ffffff;
    border-radius: 8px;
}

.nav-link-active {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none !important;
    background-color: unset;
    border-bottom: 2px solid #fff;
}

.header-container {
    color: #ffffff;
    padding: 48px 96px 96px 96px;
    background-color: var(--primary-color-40);
}

.pageTitle {
    font-size: 36px;
    font-weight: bold;
}

.main-container {
    position: relative;
    width: 100%;
    top: -72px;
    padding: 0 96px;
    gap: 64px;
}

.tiles {
    display: flex;
    gap: 24px;
}

.tile {
    position: relative;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--secondary-color-40) !important;
    background-color: var(--secondary-color-10);
    overflow: hidden;
    box-shadow: 0px 30px 32px -12px rgba(82, 82, 82, 0.20);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.tile:hover {
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: unset;
    transition: 0.2s;
}

.tile-danger {
    border: 1px solid var(--danger-color-40) !important;
    background-color: var(--danger-color-10) !important;
}

.tile-info {
    display: flex;
    gap: 4px;
}

.tile-info .dynamic-number {
    font-size: 40px;
    font-weight: bold;
}

.tile-icon {
    width: max-content;
    padding: 8px 12px;
    border-radius: 100%;
    background-color: var(--accent-color-40);
}

.tile-title {
    font-size: 18px;
    font-weight: bold;
}

.bills-and-utility {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    width: 100%;
    height: 700px;
    padding-bottom: 96px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 30px 32px -12px rgba(82, 82, 82, 0.20);
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-header {
    padding: 16px;
    border-bottom: 1px solid var(--neutral-color-20);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.utility-charts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    height: 100%;
}

/* Start SIZE for ICON */
.size1 {
    font-size: 1.5rem;
}

.size2 {
    font-size: 2.5rem;
}

.size3 {
    font-size: 5rem;
}

.size4 {
    font-size: 7.5rem;
}

.size5 {
    font-size: 10rem;
}

@media (max-width:599px) {
    .size1 {
        font-size: 1rem;
    }

    .size2 {
        font-size: 2rem;
    }

    .size3 {
        font-size: 3rem;
    }

    .size4 {
        font-size: 4rem;
    }

    .size5 {
        font-size: 5rem;
    }
}

/* End SIZE for ICON */